{% extends 'base.html' %}
{% load static %}
{% block content %}


<!--/ Intro Single star /-->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">We Do Great Design For Creative Folks</h1>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              About
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!--/ Intro Single End /-->

<!--/ About Star /-->
<section class="section-about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="about-img-box">
          <img src="{% static 'img/slide-about-1.jpg' %}" alt="" class="img-fluid">
        </div>
        <div class="sinse-box">
          <h3 class="sinse-title">MyBudgetHouse
            <span></span>
            <br> Sinse 2021
          </h3>
          <p>Creative</p>
        </div>
      </div>
      <div class="col-md-12 section-t8">
        <div class="row">
          <div class="col-md-6 col-lg-5">
            <img src="{% static 'img/property-9.jpg' %}" alt="" class="img-fluid">
          </div>
          <div class="col-lg-2  d-none d-lg-block">
            <div class="title-vertical d-flex justify-content-start">
              <span>MyBudgetHouse Exclusive Property</span>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 section-md-t3">
            <div class="title-box-d">
              <h3 class="title-d">Your
                <span class="color-d">Dream</span> Come
                <br> True
              </h3>
            </div>
            <p class="color-text-a">
              Want to build your own home? You’ve landed on the right site! HomePlans.com is the best place to find the
              perfect floor plan for you and your family.
              Our selection of customizable house layouts is as diverse as it is huge,
              and most blueprints come with free modification estimates.
            </p>
            <p class="color-text-a">
              We also offer a low price guarantee in addition to free ground shipping and competitively priced cost to
              build reports. So whether you’re looking to build a narrow Craftsman Bungalow house plan in Tennessee, a
              sprawling contemporary Ranch floor plan in Texas, a luxurious modern Farmhouse design in Georgia, or
              something else entirely,
              start your home building journey with us today and shop with confidence. Let's go!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ About End /-->

<!--/ Team Star /-->
<section class="section-agents section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Meet Our Team</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-4 ">
        <div class="card-box-d d-flex">
          <div class="card-img-d">
            <img src="{% static 'img/homeee.jpg' %}" alt="" class="img-d img-fluid" style="width:100%;height:100%;">
          </div>
          <div class="col-md-8 ">
            <div class="card-box d-flex">
              <div class="card-text-d">
                <p>
                  <strong>Phone: </strong> 8089319891
                </p>
                <p>
                  <strong>Email: </strong> mybudgethouse@gmail.com
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="card-footer-d">
  <div class="socials-footer d-flex justify-content-center">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#" class="link-one">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="link-one">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="link-one">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </li>

    </ul>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<!--/ Team End /-->

<!--/ footer Star /-->
{% endblock %}