{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Section: Design Block -->
<section class=" text-center text-lg-start">
    <style>
      .rounded-t-5 {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }
      .col{
        color:white
      }
      .col a{
        color:white
      }
      
  
      @media (min-width: 992px) {
        .rounded-tr-lg-0 {
          border-top-right-radius: 0;
        }
  
        .rounded-bl-lg-5 {
          border-bottom-left-radius: 0.5rem;
        }
      }
    </style>
    <div class="card mb-5 mt-5">
      <div class="row g-0 d-flex align-items-center m-5">
        <div class="col-lg-6 d-none d-lg-flex ">
          <img src="{% static 'img/homeee.jpg' %}" alt="" style="height:65vh"
          class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
        </div>
        <div class="col-lg-6 bg bg-success">
          <div class="card-body py-5 px-md-3">
            <h4 class="card-title">Forget Password</h4>
              {% include 'alerts.html' %} 
            <form action="{% url 'forgotpassword' %}" method="POST">
                {% csrf_token %}
              <!-- username input -->
              <div class="form-outline mb-3">
                <input type="email" class="form-control" name="email"/>
                <label class="form-label" for="form2Example1">Email</label>
              </div>
  
              <!-- Password input -->
              <!-- <div class="form-outline mb-4">
                <input type="password" id="form2Example2" class="form-control" name="password" />
                <label class="form-label" for="form2Example2">Password</label>
              </div>
   -->
              <!-- 2 column grid layout for inline styling -->
              <!-- <div class="row mb-5 bg bg-success">
                <div class="col d-flex justify-content-center">
                  <!-- Checkbox -->
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                    <label class="form-check-label" for="form2Example31"> Remember me </label>
                  </div>
                </div> 
  
                <div class="col">
                  <!-- Simple link -->
                  <a href="{% url 'login' %}">Got password? Login</a>
                </div>
                <!-- <div class="col">
               Simple link -->
                   
              <!-- Submit button -->
              <div class="pt-1 mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                <!-- <button class="btn btn-primary btn-lg btn-block" type="submit">Back<a href="" type="submit"> </a></button> -->
            </div>
          
            </form>
            <div>
                {% for message in messages %}
                <h3>{{ message }}</h3>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}