<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript">
        function preventBack() {
          window.history.forward();
        }
        preventBack()
        window.onunload = function() { null };
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <section class="vh-50" style="background-color: rgb(245, 94, 94);">
        <div class="container-fluid h-50">
            <div class="row d-flex justify-content-center align-items-center h-50">
                <div class="col-lg-10  col-xl-10">
                    <div class="card text-black" >
                        <div class="card-body p-md-2">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 ">

                                    <div
                                        class="col-lg-8 col-lg-6 d-flex align-items-center">

                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                            class="img-fluid" alt="Sample image">

                                    </div>
                                    <form class="mx-1 mx-md-3" action="{% url 'add'  %}" method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}

                                        {{form.as_p}}
                                        <button type="submit" class="text-center">Submit</button>
                                        <a type="submit" href="{% url 'stock_table' %}" text-center">Back</a>
                                    </form>
                                    <div>
                                        {% for message in messages %}
                                        <h3>{{ message }}</h3>
                                        {% endfor %}
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>