{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y mt-5 pt-5">

    <div class="container mt-5 pt-5">
        <div class="row">
            <main class="col-md-8">
                <div class="col-md-10 p-1 mb-3">
                    <aside>
                        <div class="container-fluid mb-2">
                            <h2 class="title text-bold"
                                style="text-align:right;color: darkgreen;text-decoration-line: underline;">ORDER
                                HISTORY
                            </h2>
                            <div class="card">
                                <h2 class="title text-bold"
                                style="text-align:left;color: darkgreen;text-decoration-line: underline;">TOTAL REVENUE : {{orders.revenue}}
                            </h2>
                        </div>

                    </aside>
                </div>

        </div>


        <div class="container-fluid">
            <table class="table">
                <thead>

                    <tr>
                        <th>Client</th>
                        <th>Order Number</th>
                        <th>Payment id</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in orders %}
                    <tr>
                        <td>{{result.user}}</td>
                        <td>{{result.order_number}}</td>
                        <td>{{result.payment_id}}</td>
                        <td>{{result.order_total}}</td>
                        <td>
                            {{result.status}}
                        </td>
                    </tr>
                    {% endfor %}


                </tbody>
            </table>
            <!-- order-group.// -->
            </main>
        </div> <!-- row.// -->
    </div>

    </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}